*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black-color: #000000;
    --white-color:#ffffff;
    --gray-color:gray;
    --green-color :#0c3b2e;
}

.navbar{
    background-color: var(--green-color) !important;
}

.navbar-brand img{
    width: 60px;
}

.home-banner-section{
 
}
.owl-carousel .item {
    margin: 0 !important;
    padding: 0 !important;
}

.owl-carousel .item{
    position: relative;
   
}

.hero-title h1{
    font-size: 40px;
    font-weight: bold;
    color: #0c3b2e;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.hero-title h1::after{
content: '';
position: absolute;
bottom: 0px;
left: 0px;
width: 50%;
height: 6px;
background-color: #0c3b2e;
border-radius: 30px;
}

.owl-carousel .item .home-content{
    position: absolute;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: #fff;
    border-radius: 30px;
}


.home-title{
    width: 600px;
}
.home-title h2{
    font-size: 40px;
    font-weight: bold;
}
.owl-carousel .item img {
    width: 100% !important;
    height: 650px;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
    opacity: 0.5;
}

.footer{
    background-color:var(--green-color);
}

@media screen and (max-width:768px) {
    .home-title{
        width: auto;
        padding: 0px 10px;
    }
    .hero-title{
        margin-bottom: 20px;
    }
    .hero-title h1{
        font-size: 26px;
    }
}